.recommended-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; 
}

.top-song-first {
    width: 45%;
    min-width: 400px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.top-song-second{
    width:45%;
    min-width: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.new-song{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
