.container-pagination{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.limit-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 20px;

}
